:root{
    --fundo: #D8BFD8;
    --frente-cartão:#E6E6FA;
    --verso-cartão:#babadf;
    --destaque:#9370DB;
    --roxo:#be79e1;
    --preto: #000000;
    --branco:#FFFFFF;
}

body{
    background-color: var(--fundo);
}

header{
    background-color: var(--roxo);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a{
    color: var(--preto);
    text-decoration: none;
}

footer{
    background-color: var(--roxo);
    position: fixed;
    bottom: 0;
    color: var(--preto);
    width: 100%;
    text-align: center;
}

#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}

.cartao{
    background-color: var(--frente-cartão);
    border: 1px solid var(--branco);
    padding: 40px;
    box-shadow: 5px 5px 25px var(--branco);
    cursor: pointer;
}

.cartao:hover{
    transform: scale(1.04);
}

.resposta-cartao{
    background-color: var(--verso-cartão);
    padding: 40px;
    
}