:root{
    --fundo: #D8BFD8;
    --frente-cart達o:#E6E6FA;
    --verso-cart達o:#babadf;
    --destaque:#9370DB;
    --destaqued:#7946df;
    --roxo:#be79e1;
    --preto: #000000;
    --branco:#FFFFFF;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--roxo);
    position: fixed;
    bottom: 0;
    color: var(--preto);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--frente-cart達o);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.conteudo-cartao h3{
    position: absolute;
    text-align: left;
    color: var(--destaque);
    border: 1px solid var(--destaque);
    border-radius: 6rem;
    padding: 0.6rem;
    margin: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.conteudo-cartao p{
    margin-top: 5rem;
    padding: 2rem;
    font-size: 1.4vw;
}

.cartao.active .conteudo-cartao{
    transform: rotateY(180deg);
}
.pergunta-cartao, .resposta-cartao{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
.resposta-cartao{
    transform: rotateY(180deg);
background-color: var(--verso-cart達o);
color: var(--destaque)
border: 2px solid var(--destaqued)
}