:root{
    --fundo: #D8BFD8;
    --frente-cartão:#E6E6FA;
    --verso-cartão:#babadf;
    --destaque:#9370DB;
    --roxo:#be79e1;
    --preto: #000000;
    --branco:#FFFFFF;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--roxo);
    position: fixed;
    bottom: 0;
    color: var(--preto);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
}