:root{
    --fundo: #D8BFD8;
    --frente-cartão:#E6E6FA;
    --verso-cartão:#babadf;
    --destaque:#9370DB;
    --preto:#9932CC;
    --branco:#FFFFFF;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
}